h1 {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-right: 8px;
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
  line-height: 1.6;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.left, table th.left {
  text-align: right;
}
table td.center, table th.center {
  text-align: center;
}
table td.right, table th.right {
  text-align: right;
}

table tr.bold {
  font-weight: 600;
}

table td.max-25-procent, table th.max-25-procent {
  max-width: 320px;
  min-width: 240px;
}

table tr.hidden {
  display: none;
}

table td.move-10, table th.move-10 {
  padding-left: 36px;
}

table tr.small-hight {
  height: 18px;
}

table tr.detail-header {
  background: #FFED86;
}

table td.pointer {
  cursor: pointer;
}

table tr.is_new {
  background-color: #e1ffc1;
}

table.change-details tbody tr td:first-child {
  width: 26%;
}

table.change-details tbody tr td:last-child {
  width: 37%;
}


@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  /*
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
  */
}

body {
  background: #9BC86A;
  font: 400 14px "Calibri", "Arial";
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}
